body {
    background: black;
}

.App-content {
    width: 100%;
    height: 100%;
    /* background: black; */
    background-color: repeat black;
    margin: 0 auto;
    position: absolute;
    /* overflow: hidden; */
    /* left: 0;
    right: 0; */
    color: white;
}
.links {
    margin-left: 100px;
}
.search {
    padding: 0px;
    margin-right: -100px;
    margin: none;
    color: white;
    text-align: center;
}